
@media (max-width:960px) {
    .full-1 p{
        font-size: 18px;
        width: 80%;
    }
}
@media (max-width:910px){

    .about-text{
        padding: 5%;
    }
    .resume{
    transform: translateX(20%);
    }
}

@media (max-width: 790px) {
  .full-web {
    flex-direction: column;
    height: auto;
  }

  section{
    padding: 10px;
  }

  .spotlight{
    display: none;
  }

  .full-1,
  .full-2 {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 20px;
  }

  .full-1{
    padding-bottom: 20%;
  }

  .full-2 {
    overflow-y: auto;
  }

    .about-text{
        padding:20px;
        padding-top: 5px;
        margin-bottom: 10px;
        font-size: 17px;
    }

    .resume{
    transform: translateX(10%);
    margin-top: 12%;
   

}
#project {
  min-height: 100vh; /* enough space, but allows overflow */
}

  .project-grid {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: calc(50vw - 2rem); /* makes squares */
    padding-top: 13%;
    gap: 1rem;
  }

  .project-grid .proj {
    height: 100%;
    aspect-ratio: unset; /* don't force a new one */
  }


    .proj-p{
        font-size: 13px;
    }

    .layer{
        overflow: hidden;
        padding: 5px;
        padding-bottom: 40%;
    }

    .contact-card{
      padding: 10%;
      padding-top: 30%;

    }





}

